.wrapper {
  list-style: none;
  display: flex;
  justify-content: center;
  background-color: rgb(240, 238, 238);
  padding: 15px;
}

.link {
  text-decoration: none;
  color: grey;
  display: inline-block;
  text-align: center;
  padding: 10px 15px;
  width: 120px;

  font-size: large;

  border: 1px solid grey;
  border-radius: 17px;
  margin-right: 8px;
  padding: 5px 30px;

  transition-duration: 0.4s;
  transition-timing-function: ease;
  /* -webkit-appearance: none; */

  font-size: 10px;
  letter-spacing: 2px;
  font-family: 'futura-demic-reg', Arial, sans-serif;
}

.link:global(.active) {
  text-transform: uppercase;
  /* background-color: grey; */
  color: deeppink;

  border: 1px solid deeppink;
}

.active {
  color: deeppink;
}

/* .link {
  text-align: center;
  font-size: 10px;
  letter-spacing: 2px;
  font-family: 'futura-demic-reg', Arial, sans-serif;
  text-transform: uppercase;
  color: #000;
  overflow: hidden;
  outline: none;
  transition-property: color, background;
  transition-duration: 0.4s;
  transition-timing-function: ease;
  background: none;
  border: 1px solid black;
  vertical-align: baseline;
  text-decoration: none;
  margin: 10px;
  cursor: pointer;


  line-height: 13px;
  padding: 10px 10px;
  min-height: 33px;
  height: auto;

} */
