.list {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

.item {
  position: relative;
  width: 380px;
  height: 460px;
  background: linear-gradient(115deg, #471ca9 -1%, #5736a3 54%, #4b2a99 79%);
  box-shadow: -3px 7px 21px rgba(0, 0, 0, 0.3);
  border-radius: 20px;

  list-style: none;
  transition: transform 250ms linear;

  &:hover {
    transform: scale(1.015);
  }
}

.btn {
  display: flex;
  margin: 20px auto;
  align-items: center;
  justify-content: center;

  text-transform: uppercase;
  width: 196px;
  height: 50px;
  background: #ebd8ff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  border: none;
  color: #373737;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 18px;
  transition: transform 250ms linear;

  &:hover {
    color: #471ca9;
    font-size: 19px;
    transform: scale(1.015);
    box-shadow: 0px 5px 5px rgba(92, 211, 168, 0.8);
  }
}
